*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    list-style: none;
}


$myColor: red;
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap'); //temperatura
body{margin: 0;
    padding: 0;}
h1 {
font-size: 40px;
}
h1, h3, h4, button, p, input{
    font-family: 'Maven Pro', sans-serif;

}
h4, h3{
    margin: auto 0px auto 0px;
    text-align: right;
}
h1, p{
    margin: auto 0px auto 0px;

}
p{
    font-size: 15px;
}

h3{ 
    
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}


h4{
    font-weight: lighter;
}

.aaa{
    margin:0;
    text-align: center;
}
.pMaxmin{
    text-align: center;
    width: 50%;
}

.bold{
    font-weight: bold;
}



















button, input{
    all:unset;
}

button[type = submit]{
    display: flex;
justify-content: center;
align-items: center;
}

.flex{
    display: flex;
    justify-content: space-between;

}
.container{
    width: 650px;
    padding: 20px;
    display: grid;
    grid-gap: 10px;
}
.border{
    border-bottom: 3px solid red;
   
}


.left{
    margin-bottom: 20px;
    display: flex;
    justify-content: normal;
    gap: 20px;
    
}



// .info{margin-bottom: 0;}



.error{
    text-align: center;
    color: red;
}